.reportDiv-form{
         
    height: 550px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 40px;
    background-color: white;
}
.re-form{
display: flex;  
flex-wrap: wrap;
margin-top: 30px;


}
.reports-form{
     display: flex;
}
.regis_label{
 margin-top: 15px;
margin-bottom: 5px;
height: 20px;
font-size: 20px;
margin-left: 60px ;
color: black;
font-weight: 500;


 
}
.inpR{
width: 390px;
margin-left: 60px;
background-color: white;
border: 0.5px black solid;

}
.regis{
height: 100px;
}

.RepSumm  {
     
    height: 200px;
    margin-top: 10px;
    margin-left: 70px;
     
     
}
.RepSumm table{
     width: 850px;
     border: 2px solid black
     ;
}
.RepSumm table th{
     border: 1px solid black;
     text-align: center;
     background-color: bisque;
}
.RepSumm table td{
    border: 1px solid black;
    text-align: center;
}